@font-face {
  font-family: "Pixellari";
  src: url(../fonts/Pixellari.ttf) format("truetype");
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  user-select: none;
}

body {
  background-image: url(../images/bg-tile.jpg);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
  background-size: 500px;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: "Pixellari" !important;
}

.keremwho {
  display: flex;
  justify-content: center;
  font-family: "Pixellari";
  font-weight: 800;
  font-size: 10vw;
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
  background: linear-gradient(to right, #00c6ff, #0072ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: lowercase;
}

.contact-bar {
  padding: 30px;
  width: 100%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 50px;
    span {
      background: linear-gradient(to right, #00c6ff, #0072ff);
      text-align: center;
      width: 100%;
      font-size: 1.5em;
      padding: 20px 40px;
      color: white;
      margin: 0 16px;
      font-family: "Pixellari";
      a {
        color: white;
        text-decoration: underline;
        transition: all 0.1s ease-in-out;
        &:hover {
          text-decoration: underline wavy;
        }
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      height: calc(100% - 20px);
      width: 16px;
      background: red;
    }
    &::before {
      left: 0;
      background: #00c6ff;
    }
    &::after {
      background: #0072ff;
      right: 0;
    }
  }
}

.scroll-icon {
  text-align: center;
}

#fp-nav ul li a span {
  background: #00c6ff;
}

.titlewho {
  font-family: "Pixellari";
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
  background: linear-gradient(to right, #00c6ff, #0072ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#deneyim {
  ul {
    list-style: none;
    list-style-position: outside;
  }
}

.resume-items {
  .resume-item {
    position: relative;
    padding: 15px 0;
    &.active {
      .date {
        border-color: #00c6ff;
        color: #00c6ff;
      }
    }
    .image {
      margin-left: 15px;
      position: relative;
      width: 80px;
      height: 80px;
      float: left;
      display: flex;
      align-items: center;
      font-size: 0;
      padding-right: 15px;
      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }
    .date {
      margin: 0 0 5px 0;
      padding: 0 5px;
      position: relative;
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      line-height: 18px;
      color: #ccc;
      font-weight: 400;
      border: 1px solid #eeeeee;
    }
    .name {
      margin: 0;
      font-size: 17px;
      color: #fff;
      font-weight: 500;
    }
    .company {
      margin: 0 0 11px 0;
      font-size: 14px;
      color: #999999;
      font-weight: 400;
      a {
        color: #999999;
        &:hover {
          color: #999999;
          text-decoration: none;
        }
      }
    }
  }
}

.bg-who {
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: #313131 !important;
}

.social-media-buttons {
  list-style: none;
  li {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    a {
      width: 64px;
      height: 64px;
      font-size: 32px;
      border-radius: 100%;
      padding: 5px;
      color: #00c6ff;
      transition: all 0.1s ease-in-out;
      &:hover {
        color: #0072ff;
      }
    }
  }
}
